extends layout
block body
    br
    | Hello!
    br
    br
    | Please, reset your password by clicking this link:&nbsp;
    a(href='#{BASE_URL}/reset_password/#{user.password_reset_code}')
        b #{BASE_URL}/reset_password/#{user.password_reset_code}