doctype html
html
    head
        meta(charset="utf-8")
        if data && data.seo
            title= data.seo.title
            if data.seo.description
                meta(name='description', content=data.seo.description)
            if data.seo.keywords
                meta(name='keywords', content=data.seo.keywords)
        link(rel="icon" type="image/png" href="/favicon.ico")
        link(rel='stylesheet', href='/stylesheets/lib.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

body
    #wrap
        .container
            #header.header.clearfix
                nav
                    ul.nav.nav-pills.pull-right
                        | &nbsp;
                        li(class={active: currentUrl === '/'})
                            a(href='/') Home

                        if user
                            li(class={active: currentUrl === '/user/account'})
                                a(href='/user/account') Account
                            li(class={active: currentUrl === '/user/logout'})
                                a(href='/user/logout') Logout
                        else
                            li(class={active: currentUrl === '/register'})
                                a(href='/register') Register
                            li(class={active: currentUrl === '/login'})
                                a(href='/login') Login

            div#main.clearfix
                hr
                if flash
                    .row
                        .col-xs-10.col-xs-offset-1
                            br
                            while message = flash.shift()
                                div(role='alert', class='alert alert-#{message.type}')= message.message
                block content
    footer#footer.footer
        .container
            hr
            .row
                .col-sm-3
                    p © 2015
                .col-sm-9
                    p.footer-description
                        | footer description

    script(src='/javascripts/client.js')
