extends ../layout

block content
    h1 Reset password
    p Forgotten your password?
    p Enter your E-mail address below, and we'll send you an E-mail allowing you to reset it.
    form.form-horizontal(method='POST')
        fieldset
            .form-group
                label.col-md-4.control-label(for='email') E-mail
                .col-md-4
                    input#email.form-control.input-md(name='email', type='email')
            .form-group
                label.col-md-4.control-label(for='submit')
                .col-md-4
                    .pull-right
                        button#submit.btn.btn-primary(name='submit', type='submit') Reset my password