extends ../layout

block content
    h2 Register a new account
    form.form-horizontal(method='POST', action='/register')
        fieldset
            .form-group
                label.col-md-4.control-label(for='email') E-mail
                .col-md-4
                    input#email.form-control.input-md(name='email', type='email')
            .form-group
                label.col-md-4.control-label(for='username') Username
                .col-md-4
                    input#username.form-control.input-md(name='username', type='text')
            .form-group
                label.col-md-4.control-label(for='password') Password
                .col-md-4
                    input#password.form-control.input-md(name='password', type='password')
            .form-group
                label.col-md-4.control-label(for='password2') Repeat Password
                .col-md-4
                    input#password2.form-control.input-md(name='password2', type='password')
            .form-group
                label.col-md-4.control-label(for='terms') Terms
                .col-md-4
                    label.checkbox-inline(for='terms')
                        input#eula(type='checkbox', name='terms', value='1')
            .form-group
                label.col-md-4.control-label(for='submit')
                .col-md-4
                    button#submit.btn.btn-primary(type='submit') Submit
    pre= JSON.stringify(data)