extends ../layout

block content
    h1 Reset password
    p Please, specify a new password.
    form.form-horizontal(method='POST', action='/reset_password')
        input(type='hidden', name='code', value=data.code)
        fieldset
            .form-group
                label.col-md-4.control-label(for='password') New password
                .col-md-4
                    input#password.form-control.input-md(name='password', type='password')
            .form-group
                label.col-md-4.control-label(for='password2') Repeat password
                .col-md-4
                    input#password2.form-control.input-md(name='password2', type='password')
            .form-group
                label.col-md-4.control-label(for='submit')
                .col-md-4
                    .pull-right
                        button#submit.btn.btn-primary(name='submit', type='submit') Set new password