doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    body(bgcolor='#f5f5f5')
        div
            block body
        table
            tr
                td
                    br
                    br
                    | ---
                    br
                    | Don't want to keep watching? That's okay, you can&nbsp;
                    a(target='_blank', href='', style='color: #616161; text-decoration: underline;') unsubscribe
                    | .